@import "./theme";
.gbt-mine{
  &.container-view{
    width: 100%;
    height: 100%;
    background-color: $cBg;
    background-image:url("../img/bg.png");
    position: relative;
    overflow: hidden;
    @extend .background-img;
    .icon{
      fill: $cWhite;
      margin:12px 0 0 12px;
    }
    .gbt-mine-header{
      margin-top: -14px;
      height: 171px;
      @include flex-row(column,flex-start);
      align-items: center;
      .name{
        color: $cWhite;
        margin-top: 13px;
      }
      .price{
        margin-top: 21px;
        @include flex-row(row,center);
        align-items: center;
        .count{
          color:$cYellow;
          font-size: 20px;
          margin:0 10px 0 7px;
        }
        .desc{
          color:#7F8585;
          font-size: 14px;
        }
      }
    }
    .gbt-mine-content{
      position: absolute;
      top:189px;
      left:0;
      right:0;
      bottom:0;
      background-color: #F5F5F5;
      border-top-left-radius: 22px;
      border-top-right-radius: 22px;
      padding:22px 15px;
      box-sizing: border-box;
      overflow-y: auto;
      @extend .resetScrollBar;
      .info{
        height: 87px;
        @include flex-row(row,space-around);
        align-items: center;
        @extend .block;
        text-align: center;
        .rank{
          margin-bottom: 2px;
          font-size: 14px;
          color: $cBlue;
          line-height: 20px;
        }
        .desc{
          font-size: 12px;
          color:rgba(0,0,0,.37);
          line-height: 17px;
        }
      }
      .tab{
        margin-top: 18px;
        .btns{
          margin-bottom: 14px;
          .tab-btn{
            width: 83px;
            height: 31px;
            font-size: 13px;
            color: #787878;
            &.active{
              background: $cWhite;
              border-radius: 16px;
              color:#000;
            }
          }
        }
        .list-block{
          padding:0 15px;
          box-sizing: border-box;
          @include flex-row(row,flex-start);
          align-items: center;
          margin-bottom: 5px;
          height:60px;
          background-color: $cWhite;
          border-radius: 8px;
          .item{
            @include flex-row(column,flex-start);
            flex:1;
            .sp1{
              font-size: 13px;
              color:#000;
              margin-bottom: 4px;
            }
            .sp2{
              font-size: 11px;
              color:#828282;
            }
            .sp3{
              font-size: 12px;
              color:#636363;
              margin-right: 7px;
            }
            &.item-sub{
              @include flex-row(row,flex-end);
            }
          }
        }
      }
    }
  }
}
